<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.337135454596-jum7shlhodj3f3gnr5p2trv9l46mpdc3</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>337135454596-jum7shlhodj3f3gnr5p2trv9l46mpdc3.apps.googleusercontent.com</string>
</dict>
</plist>
